# Supported machines
#MACHINE ?= "raspberrypi3"
#MACHINE ?= "raspberrypi3-64"
#MACHINE ?= "raspberrypi4"
#MACHINE ?= "raspberrypi4-64"

# Default policy config
DISTRO ?= "poky"

PREFERRED_PROVIDER_virtual/kernel_forcevariable = "linux-dummy"

# Parallelism Options
BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()}"

# Remove the old image before the new one is generated to save disk space when RM_OLD_IMAGE is set to 1, this is an easy way to keep the DEPLOY_DIR_IMAGE clean.
RM_OLD_IMAGE = "1"

# Package Management configuration
PACKAGE_CLASSES ?= "package_ipk"

# Additional image features
USER_CLASSES ?= "buildstats"

# By default disable interactive patch resolution (tasks will just fail instead):
PATCHRESOLVE = "noop"

CONF_VERSION = "2"

DISTRO_FEATURES:append = " opengl egl wayland pulseaudio"
DISTRO_FEATURES:remove = " x11 ptest"

# Install hardware acceleration codecs
IMAGE_FEATURES:append = " hwcodecs"

# Use Mesa VC4 OpenGL drivers and wpebackend-fdo
PREFERRED_PROVIDER:virtual/wpebackend = "wpebackend-fdo"

# GStreamer Video decoder
# * v4l2h264dec (by default):
PACKAGECONFIG:append:pn-gstreamer1.0-plugins-bad = " v4l2codecs"
# * GstOMXH264Dec (only software accelarion available for VC4):
# IMAGE_INSTALL:append = " gstreamer1.0-omx"

# Enable H.264 decoding in hardware
LICENSE_FLAGS_WHITELIST:append = " commercial"

# Enable the 'wl' backend for Cog
PACKAGECONFIG:append:pn-cog = " wl"

# Not available for recent version of WPE WebKit
# # Enable accelerated 2D HTML5 canvas
# PACKAGECONFIG:append:pn-cairo = " glesv2 egl"
# PACKAGECONFIG:remove:pn-cairo = "opengl"
# PACKAGECONFIG:append:pn-wpewebkit = " 2dcanvas"

